{% include "home/header.html" %}
<div class="container"> 

  <div class="tittle" align='center'>Password Change</div> 
  <form action="" method='post' align="center"> 

      {% csrf_token %} 
      <div class="change-pass"> 
          <div class="input-box"> 
              <span class="details">Old Password</span> 
              <input type="password" placeholder="Enter password" name='cpass' required> 
          </div>             
          <div class="input-box"> 
              <span class="details">Password</span> 
              <input type="password" placeholder="Enter password" name='pass1' required> 
          </div> 
          <div class="input-box"> 
              <span class="details">Confirm Password</span> 
              <input type="password" placeholder="Confirm Password" name='pass2' required> 
          </div> 
          <div class="button"> 
              <input type="submit" value="Change"> 
          </div> 
  </form>

 